// This file creates the Templates called in the other scss files
// These Templates enable styling Components in a consistent manner

@import "variables";

%link {
  color: $primary !important;
  background: $secondary !important;
  a:hover {
    color: $secondary !important;
    background: $primary !important;
  }
  a:active {
    color: $secondary !important;
    background: $primary !important;
  }
  a:visited {
    background: $secondary !important;
    color: $primary !important;
  }
}