@import "variables";

/************************************
* Layout
************************************/
@mixin layout {
  display: block;
  background: $secondary;
  padding: 0;
  margin: 3%;
  justify-content: space-around;
  color: $white;
}
/************************************
* Table
************************************/

@mixin table {
  border-collapse: collapse;
  border: $white 0.25rem solid;
  padding: 0.25rem;

  th {
    background: $primary;
    border: $white 0.25rem solid;
    padding: 0.25rem;
  }
  td {
    background: $secondary;
    border: $primary solid 0.125rem !important;
    padding: 0.25rem;
  }
}
/************************************
* Button
************************************/

@mixin button {
  background: $secondary !important;
  color: $primary !important;
  border: 0.1rem solid $primary !important;
  width: 33%;

  span {
    color: $primary;
    background: $secondary;
  }
}
/************************************
* Button Hover
************************************/

@mixin button-hover {
  color: $secondary !important;
  background: $primary !important;
  border: 0.1rem solid $secondary !important;

  span {
    color: $secondary !important;
    background: $primary !important;
  }
}
/************************************
* title
************************************/
@mixin title {
  color: $primary !important;
  font-family: $font;
  font-weight: 900;
  text-rendering: optimizeLegibility;
  text-align: center;
}

@mixin page {
  display: flex;
  flex-direction: row;
  border: $primary 1rem double;
  justify-content: space-around;
  align-content: space-around;
  background: $secondary;
  color: $white;
  margin: 0.5%;
  width: 100%;
}
