//this is for styling the footer
@import "./_base.scss";

footer {
  width: 100% !important;
  background: $secondary;
  position: static !important;
  text-align: center !important;
  align-items: center !important;
  align-content: center !important;
  border-top: solid $primary 0.5rem;
}
