//This styles the side bar that takes the place of a more traditional navigation bar at the top
// used because it includes more space for various things like links (may use on the portfolio)
@import "./_base.scss";

.sidebar {
  hr {
    height: 0.5rem;
  }
  .side-social-links{
    hr{
margin-right: 2.7rem;
    }
  }
  button{
    padding-top: 4rem;
    width: 70%;
    @extend %button;
    background: $primary !important;
    color: $secondary !important;
    margin-top: 0.1rem;
  }
  button:hover{
    background: $secondary !important;
    color:$primary !important;
  }

  .profile-img {
    border-radius: 25%;
    box-shadow: 1px 1px 3px;
  }

  .author-bio {
    font-family: "VT323", monospace;
    font-size: 2rem;
  }
}
