//used for the Tags that are all over the site and function as topical Tags relating to various technologies
@import "./_base.scss";


.tech-tag {
  background: $secondary;
  border-radius: 0;
  font-family: $font;
  font-size: .85rem;
}