// This styles the paragraphs and other textual elements of the site not including the titles which are in _title.scss
@import "./_base.scss";
p {
  padding: 0;
  margin: 0 0 1.45rem;
}
figure {
  padding: 0;
  margin: 0 0 1.45rem;
}
blockquote {
  padding: 0;
  margin: 0 1.45rem 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border: $white 0.25rem solid;
}

th {
  background: $primary;
  border: $white 0.25rem solid;
}
td {
  background: $gray-900;
  border: $primary solid 0.125rem !important;
}

table,
th,
td {
  padding: 0.25rem;
}

blockquote {
  color: $primary !important;
  font-family: "Space Mono", monospace;
  margin-top: 5rem !important;
  padding: 3%;
  border-left: 0.25rem solid $gray-600;
  border-right: 0.25rem solid $gray-600;
  width: content-box;
}
