@import "../../styles/partials/_base.scss";
@import "../../styles/partials/codeblock";
//Each page rendered must pass through here, before it was where the header and footer were attached.
// All classes and all displayed content also gets first pulled through here. So it now hosts the majority of styles specific to the site.

.body {
  box-sizing: content-box;
  background: $background;
  color: $white;
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }

  hr {
    box-sizing: content-box;
    background: $primary;
    border: 1rem solid $primary;
  }

  //renders h1-h6 selectors and then their specific settings individually from _variables.scss ---> $headings
  @each $value in $headings {
    #{nth($value, 1)} {
      font-size: nth($value, 2);
      font-weight: nth($value, 3);
      font-family: nth($value, 4);
      padding: nth($value, 5);
      margin-top: nth($value, 6);
      color: nth($value, 7);
      text-align: nth($value, 8);
    }
  }

  hgroup {
    @include title;
  }

  ul {
    padding: 0;
    margin: 0 0 1.45rem 1.45rem;
    list-style-position: outside;
    list-style-image: none;
    border: $white 0.125rem solid;
  }

  ol {
    @extend ul;
  }

  li {
    margin-bottom: calc(1.45rem / 2);
    margin-left: 1.45rem;
    margin-top: calc(1.45rem / 2);
    padding-left: 0;
  }

  // page which post is on
  .post-page-main {
    @include page;
  }

  //posts
  .post-main {
    @include layout;
  }

  //page with list of posts
  .index-main {
    @include page;

    a {
      @extend %link;
    }
  }

  //index page list of posts
  .post-list-main {
    @include layout;

    a {
      @extend %link;
    }
  }

  @media only screen and (max-width: 850px) {
    .index-main {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0;
      padding: 0;
    }
  }

  .info {
    padding-bottom: 1.3rem;
    border: 0.125rem solid $gray-700;
    display: inline-block;
    margin: 0;

    time {
      color: $gray-500;
      display: inline;
      margin-right: 10px;
    }
  }

  .content {
    background: $secondary;
    padding-bottom: 10px;

    h2 {
      padding-top: 1rem;
      margin-bottom: 2rem;
    }

    blockquote {
      a {
        display: block;
        word-break: break-word;
      }
    }
  }

  table {
    @include table;
  }

  hgroup {
    @include title;
  }// calls headings and renders the h1-h6 styles according to its contents

}
