//This styles the side bar that takes the place of a more traditional navigation bar at the top
// used because it includes more space for various things like links (may use on the portfolio)
@import "../../styles/main";

.sidebar {
  width: 25%;
  margin: 3%;
  h1 {
    font-family: $title-font !important;
    margin-top: 2rem;
    width: 100%;
  }
  hr {
    height: 0.5rem;
  }
  button {
    @include button;
  }
  button:hover {
    @include button-hover;
  }
  button:active {
    @include button-hover;
  }
  button:visited {
    @include button;
  }
  a {
    @extend %link;
  }
}
